@import url('https://fonts.cdnfonts.com/css/seven-segment');

.company-citation {
    color: #242424;
    font-size: 1em;
}

.title {
    background-color: cornflowerblue;
    border: 3px;
    border-style: outset;
    border-radius: 7px;
    border-color: black;
    padding: 7px;
}

.calculator {
    margin-top: 1vh;
    width: 40vw;
    height: 80vh;
    background-color: #1d1d1d;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.refresh_icon {
    width: 4vw;
    height: auto;
}

.calculator-display {
    font-family: 'Seven Segment', sans-serif;
    font-size: 3em;
    color: aliceblue;
    background-color: #242424;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    padding: 15px;
    text-align: right;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.display-numbers {
    margin-right: 2vw;
}

.buttons {
    background-color: #3f3f3f;
    color: whitesmoke;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1.5em;
}

.buttons:hover:not(.disabled) {
    background-color: #555;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    flex: 1;
}

.buttons.disabled {
    color: #a5a5a5;
    background-color: #111111;
}

.buttons.wide {
    grid-column: span 2;
}

.top-display {
    color: #666666;
    height: 0px;
    font-size: 0.6em;
    margin-top: 0px;
    margin-right: 1vw;
}