@import url('https://fonts.cdnfonts.com/css/seven-segment');
.company-citation {
    color: #242424;
    font-size: 1em;
}

.title {
    background-color: cornflowerblue;
    border: 3px;
    border-style: outset;
    border-radius: 7px;
    border-color: black;
    padding: 7px;
}

.calculator {
    margin-top: 1vh;
    width: 40vw;
    height: 80vh;
    background-color: #1d1d1d;
    border-radius: 10px;
    border: 3px;
    border-style: solid;

}

.refresh_icon {
    float: left;
    width: 4vw;
    height: auto;
}

.calculator-display {
    font-family: 'Seven Segment', sans-serif;
    font-size: 3em;
    color:aliceblue;
    background-color:#242424;
    border-radius: 10px;
    border: 3px;
    border-style: solid;
    padding: 5px;
    text-align: right;
    height: auto;
    width: 33vw;
    float: right;
}

.display-numbers {
    margin-right: 2vw;
}
